.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar{
  border-color: rgb(173, 255, 47);
  background-color: rgb(173, 255, 47, 0.3);
  border-style: inset;
  position: fixed;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* background:transparent; */
}
.navbar-icon{
  position: absolute;
  height: 6rem;
  width: 6rem;
  top: 0px;
  left: 80px;
}

.side-bar{
  width: 230px;
  height: 96px;
  position: fixed;
}
.side-bar.active{
  height: 100%;
}

.side-bar-icon{
  position: relative;
  left: 20px;
  width: 100%;
}

.side-bar-icon img{
  border: 1px solid rgb(173, 255, 47);
  border-style: inset;
  border-radius: 30px;
  transform: translateX(0) rotate(0deg);
  /* position: absolute; */
  /* offset-path: path('M20,24 A180,200 0 0, 1 180,24'); */
  /* offset-distance: 0%; */
  /* transform: rotate(0deg); */
  transition: all 2s ease;
}

.side-bar-icon img.move{
  /* transform: rotate(180deg); */
  /* offset-distance: 100%; */
  transform: translateX(150px) rotate(180deg) ;
}



.side-bar-items-container{
  border-right: 2px solid rgb(173, 255, 47);
  background: rgb(173, 255, 47, 0.1);
  border-style: inset;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: translateX(0);
  transition: all 1s ease-in-out;
  opacity: 1;
}
.side-bar-items-container.hide{
  transform: translateX(-250px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.side-bar-item{
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  margin-top: 1px;
  border: 1px solid greenyellow;
  border-style: outset;
  border-radius: 10px;
}
.side-bar-item:hover{
  background-color: rgb(173, 255, 47, 0.5);
  /* background: none; */
}

.side-bar-inactive{
  background-color: rgb(173, 255, 47);
}

.side-bar-active{
  background-color: rgb(173, 255, 47, 0.3);
}

.side-bar.active ~main{
  position: relative;
  /* left: 235px; */
  width: calc(100% - 231px);
  /* margin: 0 30%; */
  /* transition: all 2s ease; */
  transform: translateX(231px);

}

main{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  position:relative;
  top: 100px;
  /* left: 235px; */
  height: 100vh;
  width: 100%;
  gap: 10px;
  overflow: hidden;
  /* margin: 0 40%; */
  justify-content: center;
  /* align-items: flex-start; */
  transition: all 1.3s ease;
  transform: translateX(0);  
}
.main-lightmode{
  background: url(./freepik__talk__53350.png);
  background-size: cover;
}
.main-darkmode{
  background: url(./freepik__upload__32031.png);
  background-size: cover;
  color:white
}

.note-input-jsx{
  /* display: flex; */
  position: relative;
  width: 300px;
  height: 480px;
  /* overflow: hidden; */
  /* margin: 0 40%; */
}
.note-input-jsx input{
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  padding: 5px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  border-style: inset;
  margin-bottom: 5px;
  /* background-color: rgb(43, 43, 43); */
}
.note-input-jsx textarea{
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  border:2px solid whitesmoke;
  border-style: inset;
  resize: none;
  background: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  scrollbar-width: none;
  outline: none;
}
.note-input-jsx .title{
  min-height: 80px;
}
.note-input-jsx .note{
  min-height: 400px;
}

.note-input-jsx #note-add-button{
  position: absolute;
  bottom: 0px;
  right: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  font-size: 28px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border:2px solid whitesmoke;
  border-style: initial;
  border-radius: 15px;
}



.notes-section-header{
  position: absolute;
  right: 10px;
  border: 1px solid rgb(173, 255, 47);
  background-color: rgb(173, 255, 47, 0.2);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-style: inset;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  opacity: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  cursor: pointer;
  transition: all 1s ease-in-out;
  transform: translateX(0);
}
.notes-section-header.move{
  transform: translateX(0px);
  right: 305px;
}

.notes-section{
  position: absolute;
  right: 0px;
  width: 300px;
  border:2px solid rgb(173, 255, 47);
  border-style: outset;
  height: calc(100vh - 100px);
  overflow-y: auto;
  transition: all 1s ease-in-out;
  transform: translateX(0px);
  background-color: rgb(0,0,0,0.05);
  margin-right: 5px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 5px;
}
.notes-section.hide{
  transform: translateX(300px);
  visibility: hidden;
  pointer-events: none;
}

.notes-card{
  border: 2px solid #adff2f;
  background-color: rgb(40, 44, 52,0.05);
  border-radius: 20px;
  padding: 7px;
  margin-top: 5px;
  background: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  width: 290px;
  height: 90px;
  cursor: pointer;
  transition: all 1s ease;
  transform: scale(1);
}
.notes-card:hover{
  transform: scale(1.06);
}
.notes-card-title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.notes-card-note{
  display: flex;
  width:250px;
  overflow: hidden;
}